@model IEnumerable<WebApplication1.Models.T_Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SQQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdormitory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SQQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdormitory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { sno=item.Sno }) |
            @Html.ActionLink("Details", "Details", new { sno=item.Sno }) |
            @Html.ActionLink("Delete", "Delete", new { sno=item.Sno })
        </td>
    </tr>
}

</table>
