@model IEnumerable<PRJ037.Models.shiptable037>

@{
    ViewBag.Title = "1800301037禤成伟";
}

<h2>1800301037禤成伟</h2>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shipname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.load)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shiptype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shipname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.load)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shiptype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madetime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>












@Html.ActionLink("Create New", "Create")
<button type="button" id="calculate">@Html.ActionLink("calculate", "calculate")</button>








<script type="text/javascript" src="Scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="Scripts/index.js"></script>
<!--主体开始-->
<div id="content">
    <div class="content_left">
        <div class="global_module procatalog">
            <h3>
                船
            </h3>
            <ul class="m-treeview">
                <li class="m-expanded">
                    <span>高速客船</span>
                    <ul>
                        <li><span>高速客船1</span></li>
                        <li><span>高速客船2</span></li>
                    </ul>
                </li>
                <li class="m-expanded">
                    <span>集装箱船</span>
                    <ul>
                        <li><span>集装箱船1</span></li>
                        <li><span>集装箱船2</span></li>
                    </ul>
                </li>
                <li class="m-expanded">
                    <span>拖船</span>
                    <ul>
                        <li><span>拖船1</span></li>
                        <li><span>拖船2</span></li>
                        <li><span>拖船3</span></li>
                        <li><span>拖船4</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主体结束-->