@model IEnumerable<PRJ037.Models.shiptable037>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shipname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.load)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shiptype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shipname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.load)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shiptype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madetime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
